Dockerfile.Centos7.6 linguist-language=Dockerfile
Dockerfile.Unbuntu18.04 linguist-language=Dockerfile
Dockerfile.Centos6.7 linguist-language=Dockerfile
Dockerfile.Debian9.7 linguist-language=Dockerfile
Dockerfile.Unbuntu19.04 linguist-language=Dockerfile
Dockerfile.Fedora27 linguist-language=Dockerfile
Dockerfile.Fedora29 linguist-language=Dockerfile
Dockerfile.Fedora30 linguist-language=Dockerfile
Dockerfile.Travis linguist-language=Dockerfile
Dockerfile.Debian9.7 linguist-language=Dockerfile
Dockerfile.Travis-nightly linguist-language=Dockerfile
